/.vscode
/extra/.vscode
/mapConversion/.vscode
/simulation/build/
/simulation/vscode/
/simulation/.vscode/ipch/
/simulation/visualGraph/build/
/simulation/visualGraph/test/build/
/extra/build/
/extra/experiment/scene*/fb*
/extra/experiment/scene*/jobs.json
/extra/testing/build/
/mapConversion/build/
/mapConversion/Plotting/
/mapConversion/UnitTests/build/
/config/waypoint_strategy.json
/config/station_strategy.json
**/.idea/*
