/.vscode
/Simulation/.vscode
/Robot-code/.vscode
/simulation/build/
/simulation/vscode/
/simulation/.vscode/ipch/
/simulation/visualGraph/build/
/simulation/visualGraph/test/build/
/Simulation/build/
/Simulation/experiment/scene*/fb*
/Simulation/uppaalStratego/fb*
/Simulation/experiment/scene*/jobs.json
/Simulation/testing/build/
/Robot-code/build/
/Robot-code/Plotting/
/Robot-code/UnitTests/build/
/Simulation/uppaalStratego/Server
/Robot-code/config/static_config.json
/Robot-code/config/station_strategy.json
/Robot-code/config/waypoint_strategy.json
**/.idea/*
